# Azure
Articles/Azure/Send-telemetry-data-from-e-RT3-to-azure-IoT-hub.md @Yokogawa-Tamajit 

# e-RT3
Articles/e-RT3/Communication-with-e-RT3.md @Yokogawa-Sanath

# AWS
Articles/AWS/Installing_AWS-IoT_Greengrass.md @Yokogawa-Nilesh

# AI
Articles/AI/Sample_AI_Application.md @Yokogawa-BrigitteZacharia
